.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.menu-icon {
    width: 30px;
}
 .hero {
    background-color: #529cf1;
    background-image: url(../images/premium_dancer.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 50vh;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    gap:10px
 }

 .title {
    color:white;
    font-family: Roboto,sans-serif;
    font-size: 5.5rem;
 }