.footer {
    display: flex;
    justify-content: space-between;
    background-color: $secondary-background-color;
    color: $primary-font-color;
    padding: 0 1rem;
}

.footer-menu a {
    color: $primary-font-color;

}

.footer-country p {
    text-align: right;
}

.footer-spain {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}