// @import 'core/variables';
@import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

:root {
    --primary-font-color: white;
    --secondary-font-color: black;
    --font-family: Roboto, sans-serif;
    --hero-background-color: #529cf1;
    --secondary-background-color: black;
}

/* Header */

.header {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    width: 100px;
    object-fit: contain;
}

.menu-icon {
    width: 30px;
}

.menu-list {
    display: none;
}

/* Hero */

.hero {
    background-color: var(--hero-background-color);
    background-position: right;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    gap: 10px
}

.hero-text {
    color: var(--primary-font-color);
    font-family: var(--font-family);
}

.hero-description {
    font-size: 2.1rem;
    font-weight: bold;
}

.hero-boton {
    background-color: #26b758;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 1.8rem;


}

.hero-title {
    font-size: 5.5rem;
    font-weight: bold;
}

/* BENEFICIOS */

.beneficios-title {
    text-align: center;
    font-family: var(--font-family);
}

.benefit {
    display: flex;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-background-color);
    color: var(--primary-font-color);
    padding: 0 1rem;
}

.footer-menu a {
    color: var(--primary-font-color);

}

.footer-country p {
    text-align: right;
}

.footer-spain {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

/* TABLET */
@media screen and (min-width:480px) {
    .menu-icon {
        display: none
    }

    .menu-list {
        display: flex;
        gap: 1rem;
        list-style-type: none;

    }

    .menu-list a,
    .menu-list li {
        color: var(--primary-font-color);
        text-decoration: none;
        font-family: var(--font-family);
        font-weight: bold;
        font-size: 1.4rem;

    }

    .hero {
        background-image: url(../images/premium_dancer.png);
        background-size: contain;
    }

}

/* DESKTOP */
@media screen and (min-width:1000px) {}